/* General body styling */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #1e1e1e, #3e3e3e); /* Gradient background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Gameboard styling */
#gameboard {
    display: grid;
    grid-template-columns: repeat(8, 80px); /* Increase size to 80px */
    grid-template-rows: repeat(8, 80px); /* Increase size to 80px */
    gap: 2px;
    margin-bottom: 20px; /* Add some space below the board */
}

/* Square styling */
.square {
    width: 80px; /* Increase size to 80px */
    height: 80px; /* Increase size to 80px */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Allow positioning */
}

.square svg {
    height: 70px; /* Increase SVG size */
    width: 70px; /* Increase SVG size */
    margin: 5px;
    position: relative; /* Allow positioning */
    z-index: -9; /* Set z-index */
}

/* Styling for the path within SVGs */
path {
    position: relative; /* Allow positioning */
    z-index: -10; /* Set z-index */
}

/* Styling for the piece class */
.piece {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Allow positioning */
    z-index: 9; /* Set z-index */
}

/* Styling for black squares */
.square.black {
    background-color: #000000;
}

/* Styling for silver squares */
.square.silver {
    background-color: #4c5061;
}

/* Piece colors */
.purple {
    fill: rgb(61, 13, 233);
}

.white {
    fill: white; /* Apply the white fill color to pieces */
}

/* Info display styling */
#info-display {
    color: white; /* Text color */
    font-size: 20px; /* Text size */
    margin-top: 10px; /* Space above the text */
    text-align: center; /* Center align the text */
}

/* Player display styling */
#player {
    color: white; /* Text color */
    font-size: 20px; /* Text size */
}